name: Form Autocomplete Bot

on:
  schedule:
    # Налаштування часу (UTC). Наприклад, щодня о 08:00 за Києвом (це 06:00 UTC)
    # Формат: 'хвилини години день_місяця місяць день_тижня'
    - cron: '0 6 * * 1-5' # Запуск з понеділка по п'ятницю о 06:00 UTC
  workflow_dispatch: # Дозволяє запускати бота вручну кнопкою

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run script
        run: python bot.py
